@model RealEstates.Web.ViewModels.Home.HomePageViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <h4>Cities</h4>
    @foreach (var city in Model.Cities)
    {
        <div class="col-md-3">
            @Html.ActionLink(city.Name, "RealEstatesByCity", new { name = city.Name })
        </div>
    }
</div>

<div class="row">
    <h4>Brokers:</h4>
    @foreach (var user in Model.Users)
    {
        <div class="col-md-4">
            @Html.ActionLink(user.UserName, "Index",  new { id = user.Id })
        </div>
    }
</div>
