@{
    ViewBag.Title = "Home Page";
}

@section styles {
    <style>
        .pesho {
            background-color: red;
        }
    </style>
}

<div class="jumbotron">
    <p class="lead">Admin => UserName: admin@gmail.com Password: admin@gmail.com </p>
</div>



@section scripts {
    <script>
        function slider() {
            $('#pesho')
        }

        slider();
    </script>
}